// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html,body {
	@include normal-text;
}

// Header Styles
#wrapper-navbar {
	border-top: 2px solid orange;
}

#main-nav {
	height: 42px;
	border-top: 2px solid #fff;
    border-bottom: 1px solid #eee;
}

.navbar-nav {
	font: 400 12px/15px lato, sans-serif;
	letter-spacing: 0.85px;
	margin: -2px auto !important;
	.menu-item {
		&.current-menu-item {
			background: $grey-300;
			a.nav-link {
				color: $blue-500;
			}
		}
	}
}

.navbar-brand {
	display: flex;
	align-items: center;
	padding-top: inherit;
	padding-bottom: 0.1rem;
	margin-right: inherit;
	.logo-img {
		display: inline-flex;
	}
}

.header-search {
	width: 180px;
	max-height: 25px;
	& > * {
		max-height: 25px;
	}
	input {
		font-size: 0.8rem;
		font-style: italic;
	}
	.search-btn {
		background: #fff;
    padding-top: 0.15rem;
    font-size: 0.8rem;
	}
}

.logo-text {
	font: 300 17px/18px lato, sans-serif;
	letter-spacing: 0.85px;
	margin-left: 0.75rem;
}

.top-links {
	& > a {
		margin-left: 0.6rem;
		display: inline-block;
		vertical-align: middle;
		&:first-child {
			margin-left: 0.8rem;
		}
	}
}

// footer
.wrapper-footer {
	background: $blue-500;
	padding-top: 2px;
	& > .drawline {
		border-top: 2px solid #fff;
	}
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #EEE;
		.footer-tagline {
			display: flex;
			align-items: center;
			.footer-tagline__text {
				font: 400 16px/20px lato, sans-serif;
				letter-spacing: 0.030rem;
			}
		}
		.footer-byline {
			font: italic 600 11px/16px lato, sans-serif;
			letter-spacing: 0.030rem;
		}
	}
	.footer-menu {
		.nav .nav-item a {
			color: #EEE;
			font: 500 13px/20px lato, sans-serif;
			letter-spacing: 0.030rem;
		}
		.nav-item + .nav-item {
			position: relative;
		}
	}
}

// Equal height columns
.row.equal {
	& > [class*='col-'] {
		display: flex;
	}
}

// Homepage styles
.front-hero {
	background: $grey-600;
	border-bottom: 3px solid #ffc967;
	.greyborder {
		max-width: 1520px;
		order: 1px solid #fff;
    	margin: 0 auto;
    	background: $grey-100;
    	border-radius: 12px;
		padding: 10px;
		.orangeborder {
			background: $orange-200;
    		border-radius: 8px;
			padding: 4px;
			.content {
				background: #fff;
    			border-radius: 8px;
    			padding:1.5rem;
			}
		}
	}
}

.hero-item {
	.hero-title {
		font: 400 19px/33px "garamond-premier-pro",serif;
		color: $blue-400;
		border-bottom: 2px solid $orange-200;
		text-indent:.5rem;
	}
	@include media-breakpoint-up(xxl) {
		.hero-title {
			font-size: 22px;
		}
	}
	.item-content {
		display: flex;
		svg {
			flex: 1 0 85px;
		}
		.item-text {
			@include normal-text;

		}
	}
}

.strips {
	display:none
}

.front-content {
	background: $grey-200;
		background: #f7f7f7;
	padding-top:1.5rem;
    border-top: 1px solid #fff;
}

.section-region {
	.region-title {
		border-bottom: 3px solid $orange-200;
		.region-text {
			font: 400 21px/27px lato, sans-serif;
			letter-spacing: 0.015rem;
			color: $blue-600;
			vertical-align: middle;
		}
		.badge-blue {
			background-color: $blue-300;
			color: #fff;
			font: italic 600 12px/12px lato, sans-serif;
		}
	}
	.front-blade {
		overflow: auto;
		position: relative;
		border-bottom: 2px solid $green;
		box-shadow: 0px 3px 6px #00000029;
		border-radius: 0px 0px 8px 8px;
		display: flex;
		flex-direction: column;
		& > img {
			border-bottom: 2px solid $green;
			padding-bottom: 0.1rem;
		}
		.blade-subsection {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
		}
		.blade-title {
			font: 500 16px/24px lato, sans-serif;
			letter-spacing: 0.010rem;
			border-bottom: 2px solid $orange-200;
			color: $blue-400;
			a {
				&:hover {
					text-decoration: none;
				}
			}
			.green-arrow {
				vertical-align: text-bottom;
			}
		}
		@include media-breakpoint-up(xxl) {
			.blade-title {
				font-size: 20px;
			}
		}
		.blade-text {
			@include normal-text;
			flex: 1 1 auto;
		}
		.blade-misc {
			font: 600 12px/16px lato, sans-serif;
			letter-spacing: 0.020rem;
			border-left: 3px solid $orange-400;
			.upper {
				text-transform: uppercase;
				font-weight: bold;
				color: #111111;
			}
			.lower {
				font-style: italic;
			}
		}
		.bottom-line {
			height: 2px;
			background: $green;
			position: absolute;
			bottom: 2px;
			width: 100%;
		}
	}
}

// Two-three-column template
.two-three-column-wrapper {
	background: $grey-300;
	.content {
		background: $grey-300;
	}
	.right-sidebar {
		background: $grey-400;
		border-left: 3px solid $orange-300;
		min-height: calc(100vh - 84px - 74px);
	}
	.title-bar {
		background: #356595;
		color: #fff;
		padding: 0.8rem;
		border-radius: 6px;
		.sideOne {
			font: 400 18px/24px "garamond-premier-pro",serif;
			letter-spacing: 0.020rem;
		}
		@include media-breakpoint-up(xxl) {
			.sideOne {
				font-size: 20px;
				line-height: 30px;
			}
		}
		.sideTwo {
			font: italic 600 12px/16px lato, sans-serif;
			letter-spacing: 0.025rem;
			border-left: 1px solid #ffffff8c;
		}
	}
	.section-one {
		border-top: 3px solid $blue-700;
		padding-top: 3px;
		& > img {
			background: #fff;
			padding-bottom: 2px;
		}
		.section__item {
			padding-top: 2px;
			border-radius: 0 0 0 8px;
			&.green-bg {
				background: $green;
			}
			&.orange-bg {
				background: $orange-400;
			}
			.header-search {
				& > input, .search-btn {
					background: #FAFAFA;
					border-color: #749D62 !important;
				}
			}
		}
		.white-bg {
			background: $grey-300;
			margin-left: 6px;
			& > .blade-section:last-child {
				padding-bottom: 2.5rem;
				border-radius: 0 0 16px 16px;
				.blade-section__body-content {
					padding-bottom: 1.4rem;
				}
			}
		}
		.blade-top {
			padding: 0.5rem 1.4rem;
			background: #fff;
			.blade-title {
				display: flex;
				align-items: center;
				.blade-title__text {
					flex: 1;
					font: 600 22px/30px "garamond-premier-pro",serif;
					letter-spacing: 0.030rem;
					color: $blue-400;
				}
			}
			.blade-top__body {
				@include sub-normal-text;
			}
			@include media-breakpoint-up(xxl) {
				.blade-top__body {
					min-height: 100px;
				}
			}
			.blade-top__search {
				display: flex;
				justify-content: center;
				align-items: center;
				& > span {
					font: italic 600 20px/28px "garamond-premier-pro",serif;
					letter-spacing: 0.050rem;
					color: $blue-400;
				}
				.header-search {
					width: 65%;
				}
			}
		}
	}
	.blade-section {
		margin-left: 2px;
    padding: 0.5rem 0.8rem;
    margin-bottom: 2px;
		&.green {
			background: $green;
			.title-span {
				border-bottom: 2px solid $green;
			}
		}
		&.orange {
			background: $orange-400;
			.title-span {
				border-bottom: 2px solid $orange-400;
			}
		}
		.blade-section__title {
			color: #fff;
			padding: 0 0.5rem 0.5rem;
			.blade-section__title-1 {
				font: 400 23px/28px lato, sans-serif;
				letter-spacing: 0.040rem;
				margin-bottom: 0.2rem;
			}
			.blade-section__title-2 {
				font: 400 14px/17px lato, sans-serif;
				letter-spacing: 0.030rem;
			}
		}
		.blade-section__body {
			position: relative;
			background: #fff;
			border-radius: 0 0 8px 8px;
			& > img {
				border: 2px solid #fff;
			}
			.blade-section__body-content {
				border-top: 1px solid $green;
				padding: 0.5rem 1rem;
				overflow: auto;
				.blade-section__body-content-title {
					display: flex;
    			align-items: center;
					margin-bottom: 0.8rem;
					.title-span {
						padding-bottom: 0.3rem;
						margin-left: 0.5rem;
					}
				}
				.blade-title__text {
					font: 500 16px/20px lato, sans-serif;
					letter-spacing: 0.005rem;
					color: $blue-400;
				}
				@include media-breakpoint-up(xxl) {
					.blade-title__text {
						font-size: 19px;
						line-height: 24px;
					}
				}
				.blade-section__body-content-text {
					font: 400 14px/18px lato, sans-serif;
					letter-spacing: 0.005rem;
				}
				.blade-section__body-content-count {
					border: 1px solid $green;
					border-radius: 16px;
					font-size: 10px;
					padding: 0rem 0.8rem;
					font-style: italic;
					color: $blue-200;
					margin-top: 0.6rem;
					float: right;
				}
			}
			.blade-section__body-footer {
				border: 1px solid #fff;
				background: $blue-300;
				padding: 0.3rem 1rem;
				border-radius: 8px;
				display: inline-block;
				position: absolute;
				top: 96%;
				left: 50%;
				transform: translateX(-50%);
				width: 80%;
				text-align: center;
				font: italic 600 15px/18px lato, sans-serif;
				a {
					color: #fff;
				}
			}
		}
	}
	.featured-top {
		background: $blue-500;
		color: #fff;
		padding: 2px 0;
		.featured-top__item {
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			display: flex;
			align-items: center;
			.featured-top__item-title {
				font: 400 27px/36px "garamond-premier-pro",serif;
				letter-spacing: 0.050rem;
			}
		}
	}
	.featured-bottom {
		background: $green;
		margin-top: 2px;
		border-radius: 0 0 0 8px;
		&.green-bg {
			background: $green;
			.featured-body {
				border: 1px solid $green;
				.featured-body__item-text-title {
					border-bottom: 2px solid $green;
				}
			}
		}
		&.orange-bg {
			background: $orange-400;
			.featured-body {
				border: 1px solid $orange-400;
				.featured-body__item-text-title {
					border-bottom: 2px solid $orange-400;
				}
			}
		}
		& > .white-bg {
			background: $grey-300;
			margin-left: 6px;
		}
	}
	.featured-body {
		background: #fff;
		border-top-width: 4px;
		margin-left: 2px;
		border-radius: 0 0 16px 16px;
		padding: 1rem;
		& > .featured-body__item + .featured-body__item {
			padding-top: 1rem;
    	border-top: 1px solid #E6E6E6;
		}
		.featured-body__item {
			display: flex;
			align-items: flex-start;
			.featured-body__item-img {
				margin-right: 0.8rem;
				border: 1px solid #ccc;
				border-radius: 8px;
				padding: 4px;
				img {
					max-width: 80px;
					height: auto;
					border-radius: 8px;
				}
				@include media-breakpoint-up(xxl) {
					img {
						max-width: 100px;
					}
				}
			}
			.featured-body__item-text-title {
				padding-bottom: .3rem;
				display: flex;
				align-items: center;
				font: 500 16px/20px lato, sans-serif;
				letter-spacing: 0.005rem;
				color: $blue-400;
				svg {
					flex: 0 0 auto;
				}
			}
			.featured-body__item-text-content {
				font: 400 14px/18px lato, sans-serif;
				letter-spacing: 0.005rem;
			}
		}
	}
}

// Community template
.two-three-rows-wrapper {
	background: $grey-300;
	.content {
		background: $grey-300;
	}
	.right-sidebar {
		background: $grey-400;
		border-left: 3px solid $orange-300;
		min-height: calc(100vh - 84px - 74px);
	}
	.title-bar {
		background: #356595;
		color: #fff;
		padding: 0.8rem;
		border-radius: 6px;
		.sideOne {
			font: 400 18px/24px "garamond-premier-pro",serif;
			letter-spacing: 0.020rem;
		}
		@include media-breakpoint-up(xxl) {
			.sideOne {
				font-size: 20px;
				line-height: 30px;
			}
		}
		.sideTwo {
			font: italic 600 12px/16px lato, sans-serif;
			letter-spacing: 0.025rem;
			border-left: 1px solid #ffffff8c;
		}
	}
	.badge-green {
		background-color: $green-200;
		color: #fff;
		font: italic 400 12px/12px lato, sans-serif;
	}
	.badge-orange {
		background-color: $orange-500;
		color: #fff;
		font: italic 400 12px/12px lato, sans-serif;
	}
	.section-title-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.section-title-bar__left {
			font: 600 20px/30px "garamond-premier-pro",serif;
			letter-spacing: 0.020rem;
			color: $blue-500;
			display: flex;
			align-items: center;
		}
	}
	.section-body {
		background: $green;
		border-radius: 4px 4px 0 0;
		padding: 1px;
		&.green {
			background: $green;
		}
		&.orange {
			background: $orange-500;
		}
		.section-body__title {
			color: #fff;
			font: italic 400 12px/18px lato, sans-serif;
			letter-spacing: 0.050rem;
			border-bottom: 1px solid #fff;
			margin-bottom: 2px;
		}
		.section-body__content {
			background: #fff;
			border-bottom: 3px solid;
			&.green {
				border-bottom-color: $green;
			}
			&.orange {
				border-bottom-color: $orange-500;
			}
		}
		.white-line {
			height: 1px;
    	display: block;
    	background: #fff;
		}
	}
	.row-card {
		display: flex;
		flex-direction: column;
		&.bordered {
			border: 2px solid #DDDDDD;
			border-radius: 8px 14px 0px 8px;
			border-left: 4px solid $green-500;
		}
		&.white-bg {
			background: #fff;
		}
		.row-card__title {
			font: 600 14px/24px lato, sans-serif;
			letter-spacing: 0.010rem;
			color: $blue-400;
			&.green {
				border-bottom: 2px solid $green;
			}
			&.orange {
				border-bottom: 2px solid $orange-500;
			}
			&.orange-lite {
				border-bottom: 1px solid $orange-200;
			}
			& > svg {
				flex: 0 0 auto;
			}
		}
		.row-card__content {
			flex: 1;
			display: flex;
			flex-direction: column;
			.row-card__content-text {
				flex: 1;
				font: 400 13px/17px lato, sans-serif;
				letter-spacing: 0.005rem;
			}
			.row-card__content-date-time {
				font: 600 12px/16px lato, sans-serif;
				letter-spacing: 0.020rem;
				border-left: 3px solid;
				color: $blue-400;
				&.green {
					border-left-color: $green;
				}
				&.orange {
					border-left-color: $orange-500;
				}
				.upper {
					text-transform: uppercase;
					font-weight: bold;
				}
				.lower {
					font-style: italic;
				}
			}
		}
		.row-card__image {
			border-top: 2px solid #DE983687;
			border-bottom: 2px solid #DE983687;
			padding: 0.2rem 0;
			img {
				border-radius: 2px;
				border: 1px solid $green-300;
			}
		}
	}
	.curated-card {
		position: relative;
		border: 2px solid $green-300;
		border-left: 4px solid $green;
    border-radius: 9px 15px 0px 9px;
		padding: 0.2rem;
		background: #fff;
		display: flex;
    flex-direction: column;
		.curated-card__top {
			padding: 1rem 0.5rem 0.25rem;
			flex: 1 1 40%;
    	display: flex;
    	flex-direction: column;
			.c-card__top-header	{
				display: flex;
				align-items: center;
				.c-card__top-header-title {
					flex: 1;
					border-bottom: 2px solid $green-400;
					color: $blue-500;
					& > span {
						font: 600 20px/22px "garamond-premier-pro",serif;
						letter-spacing: 0.030rem;
					}
					a {
						display: flex;
						align-items: center;
						position: absolute;
						top: 5px;
						right: 10px;
						font: italic 400 10px/16px lato, sans-serif;
						letter-spacing: 0.005rem;
						color: $blue-500;
						svg {
							margin-left: 0.25rem;
						}
					}
				}
			}
			.c-card__top-body {
				font: 500 13px/18px lato, sans-serif;
				letter-spacing: 0.005rem;
				flex: 1 1 100px;
			}
			.c-card__top-search {
				display: flex;
				justify-content: center;
				.header-search {
					width: 100%;
					max-width: 300px;
					input, button {
						background: $grey-500;
					}
				}
			}
		}
		.curated-card__btm {
			border: 3px solid $orange-600;
			border-radius: 3px 15px 0 0;
			position: relative;
			flex: 1 1 60%;
    	display: flex;
    	flex-direction: column;
			.c-card__btm-feat {
				font: italic 400 11px/16px lato, sans-serif;
				letter-spacing: 0.080rem;
				display: inline;
				border: 2px solid #F4BF5CAA;
				border-radius: 15px;
				padding: 0.2rem 0.6rem;
				background: #fff;
				position: absolute;
				top: -15px;
				left: 50%;
				transform: translateX(-50%);
				min-width: 150px;
				text-align: center;
			}
			.c-card__btm-header {
				font: 600 15px/21px lato, sans-serif;
				letter-spacing: 0.018rem;
				color: $blue-400;
				border-bottom: 2px solid $orange-600;
			}
			.c-card__btm-body {
				font: 500 13px/18px lato,sans-serif;
				letter-spacing: .005rem;
				flex: 1;
			}
			.c-card__btm-img {
				border: 4px solid $orange-500;
    		padding: 0.125rem;
				border-radius: 0 14px 0 0;
				img {
					border-radius: 0 8px 0 0;
				}
			}
		}
	}
}

