// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
	xl: 1200px,
	xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
	xl: 1140px,
	xxl: 1520px
);

// Colors
$primary: #356595;

$green: #749D62;
$green-200: #648B53;
$green-300: #BBC9B6;
$green-400: #90BC7C;

$grey-100: #FFFFFFAC;
$grey-200: #EEEEEE;
$grey-300: #F7F7F7;
$grey-400: #EDEDED;
$grey-500: #FAFAFA;
$grey-600: #BFC7C9;
$grey-800: #333333;

$blue-200: #1C5894;
$blue-300: #1C74C1;
$blue-400: #144A80;
$blue-500: #356595;
$blue-600: #2E4760;
$blue-700: #426D9F;

$orange-200: #F4BF5C;
$orange-300: #E0D7B1;
$orange-400: #DE9836;
$orange-500: #D38B27;
$orange-600: #F5D392;

$border-radius: 1rem;

$navbar-dark-color: #fff;

// Mixins
@mixin normal-text {
	font: 400 16px/20px lato, sans-serif;
	color: $grey-800;
	letter-spacing: 0.015rem;
}

@mixin sub-normal-text {
	font: 400 15px/19px lato, sans-serif;
	color: $grey-800;
	letter-spacing: 0.005rem;
}
